.Container {    
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    background-image: repeating-linear-gradient(135deg, var(--highlight-color-50) 1rem 2rem, var(--highlight--alt-color-50) 2rem 3rem);
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    border: 2px solid #000; 
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-weight: bold;
}