.Container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.UIOverlay{
    display: flex;
    justify-content: space-between;
    color: var(--font-color);
    width: 100%;
    height: 100%;
    z-index: 1;
}

.Menu {
    padding: 2rem 2rem 0 0 ;
    background-color: var(--primary-color);
    box-shadow: 1rem 0 1rem var(--highlight-color-25);
    flex-basis: 40rem;
    flex-shrink: 0;
}

.TagContainer{
    display: flex;
    column-gap: 0.5rem;
}

.Tag {
    background: var(--primary-color);
    font-size: small;
    margin: 0;
    padding: 0.2rem 1rem;
    border: 1px solid var(--highlight-color);
    color: var(--highlight-color);
    border-radius: 3px;
    cursor: pointer;
}

.Tag.Disabled {
    color: var(--font-color);
    border: 1px solid var(--font-color);
}

.Display {
    display: grid;
    grid-template-areas: "container";
    width: 100%;
}

.MapContainer{
    grid-area: container;
    height: 100%;
    width: 100%;
}

.StoryText {
    grid-area: container;
}

.MetaData {
    grid-area: container;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.Location {
    position: absolute;
    overflow: visible;
    white-space: nowrap;
    left: 50%;
    bottom: 50%;
}

.Location .Name {
    color: var(--highlight-alt-color);
    padding-left: 50%;
}

.CanvasContainer{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.CanvasContainer canvas{
    position: unset;
    height: 70rem;
    width: 70rem;
    
}

.Bio {
    width: 100%;
}


