.IconContainer {
    --delay: 0.5;
    height: 100%;
    width: 100%;
    display: grid;
    pointer-events: none;

}

.Icon {
    grid-area: 1 / 1;
    background: var(--font-color);
    mask-image: url("/src/assets/images/logo_w_loading.svg");
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;
    transform-origin: 50% 62.5%;
    animation: fadeOut 2s infinite linear;
    transform: scale(0);
}

.Icon:nth-child(2) {
    animation-delay: 1s;

}

@keyframes fadeOut {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
}