.Container {
    position: relative;
    height: 100vh;
    width: 100vw;
    /* overflow: hidden; */
    background-color: var(--primary-color);
}

.Container canvas {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.fadeIn {
    animation: 0.5s  forwards;
    animation-name: fadeIn;
}
  
.fadeOut {
    animation: 0.5s  forwards;
    animation-name: fadeOut;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}