.Navigation{
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
}

.Navigation ul {
    margin: 0;
    padding: 0;
}

.Navigation li {
    list-style-type: none;
}

.Navigation a {
    color: var(--font-color);
    text-decoration: none;
}

.Navigation a:hover {
    color: var(--highlight-color);
}