.Container {
    background-color: var(--secondary-color);
    border-radius: 1rem;
    color: var(--font-color);
    padding: 1rem 2rem;
    margin: 0 1rem 1rem 0;
    border: 1px solid transparent;
    cursor: pointer;
}

.Container.Active,
.Container.Active:hover{
    color: var(--highlight-color); 
    border-color: var(--highlight-color);
}

.Container:hover {
    color: var(--highlight-color);
    background-color: var(--secondary-color);
}

.Container svg{
    width: 2rem;
}