.Container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.Container > div {
    grid-area: 3 / 3 / 4 / 4;
}