.Container{
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
}

.MenuButton {
    background-color: var(--secondary-color);
    padding: 1rem;
    border-radius: var(--font-size-lg);
    border: 0.1rem solid transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.MenuButton:hover {
    color: var(--highlight-color);
}

.Menu {
    padding: 1rem;
    border-radius: var(--font-size-md);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--primary-color);
    display: flex;
}

.Menu .MenuButton {
    width: min-content;
    height: min-content;
}

.MenuGrid {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.Pages {
    grid-area: 3 / 1 / 4 / 2;
}

.Links {
    grid-area: 3 / 2 / 4 / 3;
}

.Visualisation {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 50vh;
    grid-area: 1 / 2 / 3 / 4;
}

.Visualisation canvas{
    position: unset;
    height: 50vh;
    width: 50vw;
}

.Container ul {
    margin: 0;
    padding: 0;
    width: max-content;
}

.Container li {
    padding: 1rem;
    list-style-type: none;
}

.Container a {
    color: var(--font-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: var(--font-size-xl);
}

.Menu a svg {
    padding-right: 1rem;
    height: 0;
    transition: height 0.5s;
}

.Menu a:hover svg {
    color: var(--highlight-color);
    height: 1.5rem;
}

.Container .ModeSwitch{
    position: absolute;
    bottom: 2rem;
    width: 3rem;
}