.Container {
    position: absolute;
    display: grid;
    padding: 0.5rem;
    z-index: 9999;
    color: var(--font-color);
}

.Container:before {
    display: block;
    position: absolute;
    content: '';
    background-color: var(--primary-color);
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.25);
    height: 100%;
    width: 100%;
    z-index: -1;
}
.Container:after {
    display: block;
    position: absolute;
    content: '';
    background-color: var(--primary-color);
    height: 1.4rem;
    width: 1.4rem;
    z-index: -1;
}

.left:after {
    left: 100%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.right:after {
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.bottom:after {
    top:0;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.top:after {
    top:100%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

