.Container {
    display: grid;
    width: 100%;
    aspect-ratio: 2 / 1;
}

.Container canvas {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    height: 100%;
}

.Container .Overlay {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    height: 100%;
    z-index: 2;
    color: black;
}

.TopLeft {
    position: relative;
    margin-bottom: 10rem;
    max-width: 25%;
}

.Clip {
    clip-path: polygon(0 0, 80% 0, 40% 100%, 0% 100%);
}


.Score, .Multiplier{
    letter-spacing: -2px;
    margin: 2.4rem 0 0 0;
    display: flex;
    align-items: center;
    font-family: 'Play', sans-serif;
    color: #707070;
    background-color: rgb(231, 231, 231);
    padding-left: 3.5rem;
    height: 6rem;
}
.Score{
    font-size: 4.5rem;
}
.Multiplier{
    font-size: 5rem;
}

.CrystalContainer {
    position: absolute;
    right:  44%;
    bottom: 42%;
    display: flex;
    justify-content: right;
}

.Crystal {
    height: 1.8rem;
    width: 2rem;
    margin: 0.3rem 0 0.3rem 1rem;
    background-color: black;
    clip-path: polygon(0% 100%, 50% 0, 100% 100%, 0% 100%);
}

.Crystal.Filled {
    background-color: rgb(140, 213, 247);
    animation: fill 0.35s;
    z-index: 1;
}

@keyframes fill {
    from {
        background-color: #8cd5f7;
        transform: scale(1);
    }
    50%{
        background-color: #8cd5f7cc;
        transform: scale(5);
    }
    to {
        background-color: #8cd5f7;
        transform: scale(1);
    }
    
  }



