.Container {
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    background: transparent;
}

.Background{
    grid-area: 1 / 1 / 7 / 7;
}

.UIOverlay {
    grid-area: 1 / 1 / 7 / 7;
    display: flex;
    justify-content: space-between;
    color: var(--font-color);
    width: 100%;
    height: 100%;

}

.Text {
    z-index: 1;
    grid-area: 5 / 2 / 7 / 6;
    margin-bottom: auto;
}

.Text p {
    font-family: sans-serif;
    font-weight: 900;
    color: var(--primary-color);
    font-size: 10rem;
    margin: 0;
    text-transform: capitalize;
}

