@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap");

[data-theme="light"] {
    
    --font-family: Quicksand, Segoe UI, sans-serif;
    --font-size-xs: 1rem;
    --font-size-sm: 1.2rem;
    --font-size-md: 1.6rem;
    --font-size-lg: 2.5rem;
    --font-size-xl: 3.5rem;

    --font-color-components: 119, 119, 119;
    --font-color: rgb(var(--font-color-components));
    --font-color-25: rgba(var(--font-color-components), 0.25);
    --font-color-50: rgba(var(--font-color-components), 0.50);
    --font-color-75: rgba(var(--font-color-components), 0.75);

    --primary-components: 255, 255, 255;
    --primary-color: rgb(var(--primary-components));
    --primary-color-25: rgba(var(--primary-components), 0.25);
    --primary-color-50: rgba(var(--primary-components), 0.50);
    --primary-color-75: rgba(var(--primary-components), 0.75);

    --secondary-components: 225, 225, 225;
    --secondary-color: rgb(var(--secondary-components));
    --secondary-color-25: rgba(var(--secondary-components), 0.25);
    --secondary-color-50: rgba(var(--primsecondaryary-components), 0.50);
    --secondary-color-75: rgba(var(--secondary-components), 0.75);

    --highlight-components: 0, 139, 255;
    --highlight-color: rgb(var(--highlight-components));
    --highlight-color-25: rgba(var(--highlight-components), 0.25);
    --highlight-color-50: rgba(var(--highlight-components), 0.50);
    --highlight-color-75: rgba(var(--highlight-components), 0.75);

    --highlight-alt-components: 243, 133, 7;
    --highlight-alt-color: rgb(var(--highlight-alt-components));
    --highlight-alt-color-25: rgba(var(--highlight-alt-components), 0.25);
    --highlight-alt-color-50: rgba(var(--highlight-alt-components), 0.50);
    --highlight-alt-color-75: rgba(var(--highlight-alt-components), 0.75);
}

[data-theme="dark"] {
    
    --font-family: Quicksand, Segoe UI, sans-serif;

    --font-size-xs: 1rem;
    --font-size-sm: 1.2rem;
    --font-size-md: 1.6rem;
    --font-size-lg: 2.5rem;
    --font-size-xl: 3.5rem;
    --font-size-xxl: 6rem;

    --font-color-components: 200, 200, 200;
    --font-color: rgb(var(--font-color-components));
    --font-color-25: rgba(var(--font-color-components), 0.25);
    --font-color-50: rgba(var(--font-color-components), 0.50);
    --font-color-75: rgba(var(--font-color-components), 0.75);

    --primary-components: 0, 0, 0;
    --primary-color: rgb(var(--primary-components));
    --primary-color-25: rgba(var(--primary-components), 0.25);
    --primary-color-50: rgba(var(--primary-components), 0.50);
    --primary-color-75: rgba(var(--primary-components), 0.75);

    --secondary-components: 35, 35, 35;
    --secondary-color: rgb(var(--secondary-components));
    --secondary-color-25: rgba(var(--secondary-components), 0.25);
    --secondary-color-50: rgba(var(--primsecondaryary-components), 0.50);
    --secondary-color-75: rgba(var(--secondary-components), 0.75);

    --highlight-components: 216, 138, 55;
    --highlight-color: rgb(var(--highlight-components));
    --highlight-color-25: rgba(var(--highlight-components), 0.25);
    --highlight-color-50: rgba(var(--highlight-components), 0.50);
    --highlight-color-75: rgba(var(--highlight-components), 0.75);

    --highlight-alt-components: 243, 133, 7;
    --highlight-alt-color: rgb(var(--highlight-alt-components));
    --highlight-alt-color-25: rgba(var(--highlight-alt-components), 0.25);
    --highlight-alt-color-50: rgba(var(--highlight-alt-components), 0.50);
    --highlight-alt-color-75: rgba(var(--highlight-alt-components), 0.75);
}

/* width */
::-webkit-scrollbar {
    width: 0.8rem;
    height: 0.8rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--primary-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background: var(--font-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--highlight-color);
  background-image: linear-gradient(135deg, rgba(0,10,78,1) 0%, rgba(0,191,255,1) 49%, rgba(254,187,103,1) 50%, rgba(251,126,27,1) 59%, rgba(201,86,11,1) 82%, rgba(96,45,6,1) 100%);
}

html {
    color: var(--font-color);
    font-size: 62.5%;
    font-family: var(--font-family);
}

html * {
    box-sizing: border-box;
}

body {
    font-size: var(--font-size-md);
    margin: 0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
